astroid==3.0.1
certifi==2024.8.30
charset-normalizer==3.3.2
crc8==0.2.0
dill==0.3.7
docutils==0.21.2
flake8==6.1.0
idna==3.10
isort==5.12.0
mccabe==0.7.0
mypy==1.7.1
mypy-extensions==1.0.0
pathspec==0.11.2
platformdirs==4.1.0
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.18.0
pylint==3.0.2
PyYAML==6.0.1
requests==2.32.3
restructuredtext_lint==1.4.0
smbus2==0.4.3
tomli==2.0.1
tomlkit==0.12.3
types-PyYAML==6.0.12.12
types-requests==2.32.0.20240914
typing_extensions==4.8.0
urllib3==2.2.3
yamllint==1.33.0
