---
# Copyright (C) 2023-2025 PHYTEC
# SPDX-FileCopyrightText: 2025 PHYTEC
#
# SPDX-License-Identifier: MIT
#
# product: PCL-077 / phyCORE-i.MX 93

PHYTEC:
  eeprom_offset: 0x0
  i2c_bus: 2
  i2c_dev: 0x50
  extended_options: 3
  optiontree_rev: 0

Kit:
  0: DDR-Ram
  1: eMMC
  2: Processor
  3: Frequency
  4: NPU
  5: Display Option
  6: Ethernet
  7: Clock source (32 kHz) / IO Voltage
  8: Temperature
  9: Boot Mode
  10: LED
  11: EEPROM
DDR-Ram:
  '0': 512 MB (LPDDR4X)
  '1': 1 GB (LPDDR4X)
  '2': 2 GB (LPDDR4X)
  '3': 512 MB (LPDDR4)
  '4': 1 GB (LPDDR4)
  '5': 2 GB (LPDDR4)
eMMC:
  '0': '-'
  '1': 8 GB (MLC)
  '2': 16 GB (MLC)
  '3': 32 GB (TLC)
  '4': 64 GB (TLC)
  '5': 128 GB (TLC)
  '6': 256 GB (TLC)
Processor:
  '0': Single Core i.MX 91
  '1': Single Core i.MX 93
  '2': Dual Core i.MX 93
Frequency:
  '0': 800 MHz
  '1': 900 MHz
  '2': 1.4 GHz
  '3': 1.7 GHz
NPU:
  '0': '-'
  '1': NPU
  '2': reduced NPU
Display Option:
  '0': Parallel 18 bit
  '1': Parallel 24 bit
  '2': LVDS
Ethernet:
  '0': '-'
  '1': 10/100 Mbit normal mode
Clock source (32 kHz) / IO Voltage:
  '0': PMIC internal / 3.3 V
  '1': PMIC internal / 1.8 V
  '2': external crystal / 3.3 V
  '3': external crystal / 1.8 V
Temperature:
  C: Consumer Temp
  E: Extended Industrial
  I: Industrial Temp
Boot Mode:
  '0': eMMC A55
  '1': Fuses A55
  '2': Serial Downloader A55
  '3': SD-Card A55
  '4': Fuses M33
  '5': Serial Downloader M33
  '6': eMMC M33
  '7': SD-Card M33
LED:
  '0': Green LED
  '1': '-'
EEPROM:
  '0': 4 kB
  '1': '-'
